body {
  background-color: #f8f8f8;
  color: #181717;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  color: #444;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #41b0df; /* light grey color */
}
th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #555;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #e6f7ff; /* light blue color */
}
tr:hover {
  background-color: #9bd6f4; /* medium blue-grey color */
}
